.categoiesName {
  background-color: #fffff1;
  color: #424436;
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  max-width: 100%;
  padding: 40px;
  width: 1440px;
}
.categories_breadCrambs {
  align-items: center;
  background-color: #fffff1;
  display: flex;
  max-width: 1440px;
  padding: 40px 0 0 40px;
  width: 100%;
}

.cardImage {
  max-width: 160px;
}
