.footer {
  width: 1440px;
  height: 948px;
  top: 2594px;
  padding: 0px 40px 80px 40px;
  gap: 40px;
  opacity: 0px;

  // width: 100%;
  // height: 350px;

  @media screen and (max-width: 1000px) {
    height: 250px;
    width: 960px;
  }
  @media screen and (max-width: 768px) {
    height: 250px;
    width: 728px;
  }
}

.map {
  width: 1360px;
  height: 350px;
  gap: 0px;
  border-radius: var(--radiusbig);
  opacity: 0px;
}

.cards {
  padding: 32px 0px 0px 0px;
  gap: 16px;
  border-radius: var(--radiusbig);
  opacity: 0px;

  width: 780px;
  height: 150px;
  // gap: 32px;
  // opacity: 0px;
  background: #f2f6d3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
}
.cards2 {
  background: #f2f6d3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  width: 548x;
  height: 150px;
  padding: 32px 0px 0px 0px;
  gap: 16px;
  border-radius: var(--radiusbig);
  opacity: 0px;
}

.iconInfo {
  width: 548px;
  height: 150px;
  padding: 32px 0px 0px 0px;
  gap: 16px;
  border-radius: var(--radiusbig);
  opacity: 0px;
  background: #f2f6d3;
}
