.allSale_breadCrambs {
  align-items: center;
  background-color: #fffff1;
  display: flex;
  max-width: 1440px;
  padding: 40px 0 0 40px;
  width: 100%;
}
.allSalesName {
  background-color: #fffff1;
  color: #424436;
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  max-width: 100%;
  padding: 40px;
  width: 1440px;
}
.allSalesInputsWraper {
  background-color: #fffff1;
  color: #282828;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  max-width: 100%;
  padding: 40px;
  width: 1440px;
}
.allSales_priceInputs {
  border-radius: 6px;
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  line-height: 20.16px;
  outline: none;
  padding-left: 16px;
}
.allSales_sortedForm {
  border-radius: 6px;
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  line-height: 20.16px;
  outline: none;
  padding-left: 16px;
}
