.notFound {
  width: Hug (760px) px;
  height: Hug (530px) px;
  top: 188px;
  left: 120px;
  gap: 32px;
  opacity: 0px;
}

.cactus {
  width: 300px;
  height: 270px;
  gap: 0px;
  opacity: 0px;
}
.h1 {
  width: 760px;
  height: 70px;
  gap: 0px;
  opacity: 0px;

  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: center;
}

.button {
  width: Hug (209px) px;
  height: Hug (58px) px;
  padding: 16px 56px 16px 56px;
  border-radius: 10px;
  background: #92a134;
}
