.discountForm {
  width: 1360px;
  height: 486px;
  top: 1416px;
  left: 40px;
  padding: 80px 40px 108px;
  gap: 24px;
  border-radius: 20px;
  margin: 40px;

  background-image: url(../../assets/discountFormImg.png),
    linear-gradient(80.46deg, #87933d -0.68%, #55610b 66.66%);
}
.discountFormName {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  padding: 32px 32px 24px;
  text-align: center;
}
.form {
  width: 516px;
  background-color: #339933 98.96%;
  height: 206px;
  gap: 16px;

  display: grid;
  justify-items: end;
  // grid-template-columns: 1fr;
  // grid-template-rows: 20px 20px;
}
