.sales {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
// .header {
//   width: 1440px;
//   height: 600px;
//   max-width: 100%;
//   background-position: center;
//   background-size: cover;
//   background: #00000066;

//   // @media screen and (max-width: 768px) {
//   //   width: 768px;
//   //   height: 634px;
//   //   top: 110px;
//   //   gap: 0px;
//   //   opacity: 0px;
//   // }
// }
// h1 {
//   font-family: Montserrat;
//   font-size: 96px;
//   font-weight: 700;
//   line-height: 105.6px;
//   text-align: left;
//   color: #ffffff;
//   width: 1360px;
//   height: 212px;
//   gap: 0px;
//   opacity: 0px;
//   padding: 80px 40px 120px 40px;

//   @media screen and (max-width: 1000px) {
//     padding: 60px 20px 326px 20px;
//   }
// }

// link {
//   width: Hug (218px) px;
//   height: Hug (58px) px;
//   padding: 16px 56px 16px 56px;
//   gap: 10px;
//   border-radius: var(--radiussmall);
//   opacity: 0px;
//   background: #92a134;
// }
